/* -----------------------------------------------------------------------------

# Login Styles

----------------------------------------------------------------------------- */
.login-wrap, .findId-wrap{
    width: 600px;
    margin: -50px auto 40px auto;
    padding: 60px;
}

.login-box{
    border: solid 1px #dcdcdc;
    width: 485px;
    margin-top: 30px;
    padding: 40px;
}

.login-box-title{
    padding: 30px 0 0;
}

.login-box-content {
    overflow: hidden;
    display: flex;
}

.login-box-content input{
    display: block;
    width: 220px;
    height: 36px;
    margin: 15px 0 10px 0;
    padding: 0 0 0 8px;
    border: 1px solid #d0d0d0;
    color: black;
}

.login-box-content button{
    width: 158px;
    height: 87px;
    margin: 15px 0 0 20px;
    border: none;
    background: #2146d0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#loginCheck-msg{
    margin-top: 5px;
    font-size: 10pt;
    color: red;
}

.sns-login-box{
    margin-top: 15px;
}

.login-sub-box-list li{
    display: inline;
    list-style: none;
}

.login-sub-box-list li button{
    width: 131px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #d0d0d0;
    background: #ffffff;
}

.btn-login-sub-box .login-sub-box-list{
    padding-left:0px;
}

.login-sub-box-list li button:hover{
    border: 1px solid #2146d0;
    background: #2146d0;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

/* -----------------------------------------------------------------------------

# Join Styles

----------------------------------------------------------------------------- */
.join-wrap{
    width: 1000px;
    margin: -50px auto 40px auto;
    padding: 60px;
}

.join-box{
    width: 877px;
    margin-top: 30px;
    padding: 40px;
}

.join-sub-title{
    display: inline-block;
}

.imp-tit{
    margin-left: 20px;
    font-size: 10pt;
    font-weight: bold;
}

.important{
    margin-right: 5px;
    color: #AB3E55;
}

#top-th, #top-td{
    border-top: solid 1px #434343;
}

#bottom-th, #bottom-td{
    border-bottom: solid 1px #434343;
}

.join-table-box table th {
    border-bottom: solid 1px #dcdcdc;
    text-align: left;
    background: #fbfbfb;
    padding-left: 40px;
}

.join-table-box table td {
    border-bottom: solid 1px #dcdcdc;
    padding: 17px 0 17px 15px;
}

.join-table-box table input{
    width: 300px;
    height: 33px;
    border: solid 1px #dcdcdc;
    padding-left: 10px;
}

input::placeholder {
    font-size: 8pt;
}

.valid-msg{
    margin-top: 5px;
    font-size: 10pt;
    color: red;
}

.idCheck-box{
    display: flex;
}

.idCheck-btn{
    margin-left: 10px;
    width: 80px;
    color: #ffffff;
    background: #2146d0;
    font-size: 10pt;
    border: solid 1px #d0d0d0;
}

.email-option, .area-option{
    width: 120px;
    height: 33px;
    border: solid 1px #dcdcdc;
}

.join-btn-box, .joinSuccess-btn-box{
    text-align: center;
    margin-top: 30px;
}

.join-btn-box button, .joinSuccess-btn-box button{
    width: 130px;
    height: 50px;
    background: #ffffff;
    font-size: 12pt;
    border: solid 1px #d0d0d0;
}

.join-btn-box .btn-join, .joinSuccess-btn-box .btn-login{
    margin-left: 20px;
    color: #ffffff;
    background: #2146d0;
    font-weight: bold;
}

/* -----------------------------------------------------------------------------

# JoinSuccess Styles

----------------------------------------------------------------------------- */
.joinSuccess-wrap{
    width: 900px;
    height: 550px;
    margin: 50px auto 50px auto;
    padding: 60px;
    text-align: center;
}

.i-fa-check{
    font-size: 80pt;
    color: #2146d0;
}

.joinSuccess-content{
    margin-top: 50px;
}

/* -----------------------------------------------------------------------------

# find*Form Styles

----------------------------------------------------------------------------- */
.find-wrap{
    width: 600px;
    height: 550px;
    margin: 0px auto 40px auto;
    padding: 60px;
}

.find-box{
    border: solid 1px #dcdcdc;
    width: 478px;
    margin-top: 30px;
    padding: 40px;
}

.find-notice{
    font-size: 10pt;
    margin-bottom: 15px;
}

.find-table-box table th {
    width: 120px;
    border-bottom: solid 1px #dcdcdc;
    font-size: 10.5pt;
    text-align: center;
    background: #fbfbfb;
}

.find-table-box table td {
    border-bottom: solid 1px #dcdcdc;
    padding: 10px 0 10px 15px;
}

.find-table-box table input{
    width: 250px;
    height: 33px;
    border: solid 1px #dcdcdc;
    padding-left: 10px;
}

.find-btn-box{
    text-align: center;
    margin-top: 15px;
}

.find-btn-box button{
    border: solid 1px #2146d0;
    margin-top: 20px;
    width: 80px;
    height: 40px;
    background: #2146d0;
    font-size: 12pt;
    color: #ffffff;
}

/* -----------------------------------------------------------------------------

# find*-Result Styles

----------------------------------------------------------------------------- */

.find-result-wrap{
    width: 670px;
    height: 457px;
    margin: 50px auto 40px auto;
    padding: 108px;
    text-align: center;
    border: solid 1px #dcdcdc;
}

.find-title{
    margin-bottom: 50px;
}

.find-result-btn-box{
    margin-top: 50px;
}

.find-result-btn-box button{
    width: 130px;
    height: 50px;
    background: #ffffff;
    font-size: 12pt;
    border: solid 1px #d0d0d0;
}

.find-result-btn-box .find-result-btn-login{
    margin-left: 20px;
    color: #ffffff;
    background: #2146d0;
    font-weight: bold;
}