.write-wrap{
    width: 1000px;
    border: black solid 1px;
    margin: auto;
    text-align: center;
}
.recmnd-table{
    width: 1000px;
    text-align: left;
}
.recmnd-table, .recmnd-table td, .recmnd-table th{
    border : 1px solid black;
}

.recmnd-content{
    width: 915px;
    height: 300px;
}

.lineNum-img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}