.write-wrap{
    width: 800px;
    border: black solid 1px;
    margin: auto;
    text-align: center;
}
.recmnd-table{
    width: 800px;
    text-align: left;
}
.recmnd-table, .recmnd-table td, .recmnd-table th{
    border : 1px solid black;
}

.recmnd-content{
    width: 715px;
    height: 300px;
}