<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.runninggo.toy.dao.MemberMapper">

    <!-- id중복체크 -->
    <select id="idCheck" parameterType="String" resultType="int">
        select count(*) from member where id = #{id}
    </select>

    <!-- member테이블에 insert하기 -->
    <insert id="insertMember" parameterType="MemberDto">
        insert into member(id, pass, name, email, hp, area, join_date)
        values(#{id}, #{pass}, #{name}, #{email}, #{hp}, #{area}, now())
    </insert>

    <!-- 로그인 시 id, pass 체크 -->
    <select id="login" parameterType="MemberDto" resultType="int">
        select count(*) from member where id=#{id} and pass=#{pass}
    </select>

    <!-- 회원가입 시 이메일 인증을 위한 랜덤번호 저장 -->
    <update id="updateMailKey" parameterType="MemberDto">
        update member set mail_key = #{mail_key} where email = #{email}
    </update>

    <!-- 메일인증을 하면 mail_auth 컬럼을 기본값0에서 1로 바꿔 로그인을 허용 -->
    <update id="updateMailAuth" parameterType="String">
	    update member set mail_auth = 1 where email = #{email}
    </update>

    <!-- 이메일 인증을 안했으면 0을 반환, 로그인 시 인증 했나 안했나 체크하기 위함 -->
    <select id="emailAuthFail" parameterType="String" resultType="int">
        select count(*) from member where id = #{id} and mail_auth=1
    </select>

    <!-- 아이디 찾기 -->
    <select id="findId" parameterType="MemberDto" resultType="MemberDto">
        select id from member where name=#{name} and email=#{email} and hp=#{hp}
    </select>
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
</mapper>