<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.runninggo.toy.dao.MemberMapper">

    <!-- id중복체크 -->
    <select id="idCheck" parameterType="String" resultType="int">
        select count(*) from member where id = #{id}
    </select>

<!--    <select id="existsById" parameterType="String" resultType="boolean">-->
<!--        select if(count(*) > 0, 'true', 'false') from member where id = #{id, jdbcType=VARCHAR}-->
<!--    </select>-->

    <!-- member테이블에 insert하기 -->
    <insert id="insertMember" parameterType="MemberDto">
        insert into member(id, pass, name, email, hp, area, join_date)
        values(#{id}, #{pass}, #{name}, #{email}, #{hp}, #{area}, now())
    </insert>


</mapper>